body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  padding: .5em;
  text-align: center;
}

.chronos {
  margin: 1em auto;
}

.attack {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.attack__label,
.attack__numbers {
  flex: 0 1 auto;
  width: 100%;
}
.attack__label {
  border-right: 2px solid #000;
  text-align: right;
  padding: 1.1em .7em;
}
.attack__date {
}
.attack__country {
}
.attack__numbers {
}
.attack__deaths,
.attack__injuries {
  float: left;
}
.attack__deaths {
  background-color: #d33;
}
.attack__injuries {
  background-color: #ebb;
}
.attack__deaths__label,
.attack__injuries__label {
  position: relative;
  float: left;
  padding: 0em 0.1em;
  font-weight: bold;
  color: #fff;
  background-color: #000;
}
.attack__deaths__label:before,
.attack__injuries__label:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  border: 0.15em solid #000;
  border-right-color: transparent;
}
.attack__deaths__label {
  bottom: 1.3em;
}
.attack__injuries__label {
  top: 1.3em;
}
.attack__deaths__label:before {
  top: 100%;
  border-bottom-color: transparent;
}
.attack__injuries__label:before {
  bottom: 100%;
  border-top-color: transparent;
}