body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  padding: .5em;
  text-align: center;
}

.chronos {
  margin: 1em auto;
}

.attack {
  display: flex;
  flex-direction: row;
}
.attack__label,
.attack__numbers {
  flex: 0 1 auto;
  width: 100%;
}
.attack__label {
  border-right: 2px solid #000;
  text-align: right;
  padding: .5em .7em;
}
.attack__date {
}
.attack__country {
}
.attack__numbers {
}
.attack__deaths,
.attack__injuries {
  float: left;
}
.attack__deaths {
  background-color: #d33;
}
.attack__injuries {
  background-color: #ebb;
}